#!/usr/bin/make -f
#
# Copyright 2003 - 2018, Ron Lee.
# Copyright 2019, Sascha Kuehndel

DOVECOT_ABI_VERSION := $(shell cat /usr/share/dovecot/dovecot-abi)
MAKEVARS := PLUGIN_NAME="lib90_deleted_to_trash_plugin.so" \
            DOVECOT_CONFIG_PATH=/usr/share/dovecot/conf.d

%:
	dh $@

override_dh_auto_build:
	dh_auto_build -- $(MAKEVARS)

override_dh_auto_clean:
	dh_auto_clean -- $(MAKEVARS)

override_dh_auto_install:
	dh_auto_install -- configure $(MAKEVARS)

override_dh_gencontrol:
	dh_gencontrol -- -V'dovecot:ABI-Version=$(DOVECOT_ABI_VERSION)'
